[submodule "Research-Analyst"]
	path = Research-Analyst
	url = https://github.com/Varsha-1605/Research-Analyst.git
[submodule "Financial-Advisor"]
	path = Financial-Advisor
	url = https://github.com/Varsha-1605/Financial-Advisor.git
[submodule "Document-Uploader"]
	path = Document-Uploader
	url = https://github.com/Varsha-1605/Document-Uploader.git
[submodule "Financial-Recommendation-System"]
	path = Financial-Recommendation-System
	url = https://github.com/Varsha-1605/Financial-Recommendation-System.git
